.dashboard {
  font-family: "Quicksand", sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.dashboard.morning {
  background-image: url("/images/morning.jpeg");
}

.dashboard.afternoon {
  background-image: url("/images/afternoon.jpeg");
  color: #eee;
}

.dashboard.evening {
  background-image: url("/images/evening.jpeg");
  color: #eee;
}

.greeting {
  font-size: 4rem;
  margin: 5rem 0;
}

.time {
  font-size: 8rem;
  letter-spacing: 2px;
}
